@inherits LayoutComponentBase
    <link rel="stylesheet" href="/css/MainLayout.css">

<div>            
         <div class="elementheader"> <a href="/">Home</a>
            </div>        
        <div class="elementheader"> <a href="Registration">Registration</a>
            </div>
        <div class="elementheader"> <a href="authorization">Authorization</a>
            </div>
    

    <div>
        @Body
    </div>
</div>

